<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ORMLITE</title>
</head>

<body>
  <nav>
    <a href="/">Get All</a>
    <a href="/find">Find By id</a>
  </nav>

        <h1>Welcome, Here are the find by id users in the DB:</h1>


        <ul>
    {{#data}}
    <li>
        First Name: {{firstname}} <br/>
        Last Name: {{lastname}} <br/>
    </li>
    {{/data}}
</ul>


</body>

</html>
